.Home {
  display: flex;
  flex-wrap: wrap;
}

.button-row {
  flex-basis: 100%;
  display: flex;
  height: 55px;
  margin: 25px 0;
}

.button-row button {
  width: 150px;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  border: 0;
  margin-left: auto;
}

.button-row button:focus {
  outline: none;
}

.button-row button span {
  padding: 12px 32px;
  font-size: 22px;
  border: 2px solid var(--green);
  color: var(--green);
  border-radius: 6px;
}

.content {
  margin: 10px 0px;
  display: flex;
  justify-content: space-between;

  align-items: flex-start;
}

.left-content {
  flex-basis: 50%;
  position: relative;
}

.left-content h1 {
  word-spacing: 9999rem;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 81px;
  letter-spacing: 0em;
  text-align: left;
}

.left-content p {
  margin-top: 50px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.right-content {
  border: 2px solid var(--green);
  position: relative;
  flex-basis: 45%;
  display: flex;
  justify-content: center;
}

.right-content img {
  max-width: 100%;
}

.effect-phrase {
  margin: 60px 0 20px;
  font-size: 25px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}
