.BalanceBlock h3 {
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
}

.balance-value {
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin: 15px 0 0;
}
