* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Share Tech Mono", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --green: #00ff19;
  --black: #000000;
}

body {
  background: var(--black);
  background-position-y: -100;
  color: var(--green);
  font-family: "Share Tech Mono", monospace;
  font-size: 18px;
}
